# OpenStax Chemistry, 2nd Ed. &ndash; Dean's Errata Submissions

## Chapter 3

### Chapter 3 &ndash; Exercises

**Execute this cell to display chemical formulas.**
It contains a LaTeX require for mhchem, which even applies to later cells.
$$ \require{mhchem} $$

In [1]:
# Execute this cell to access atomic weights
# b.* - OpenStax Chem 2e book Appendix A
# i.* - IUPAC Periodic Table PDF (not their most detailed data)
# c.* - chempy.utils periodic atomic weights
# n.* - NIH PubChem atomic weights from CSV download
from p import *

In [2]:
from IPython.display import display, HTML
sources = (b, i, c, n)
import pandas as pd
# The following prevents rounding to precision setting by saying, just format with str() function.
pd.set_option("display.float_format", str)

In [3]:
# Set up to run problem exercise functions passing different
# atomic weight sources and display answers in table with pandas.
# sources = (b, i, c, n)
def ex_test(s):
    return [s.P]

def compare(f):
    df = pd.DataFrame({"b": [f(b)], "i": [f(i)], "c": [f(c)], "n": [f(n)]})
    #display(df)
    display(HTML(df.to_html(index = False)))

compare(ex_test)
display(f'{b.P=}, {i.P=}, {c.P=}, {n.P=}')

def compares(f):
    return pd.DataFrame({
        'b': f(b),
        'i': f(i),
        'n': f(n),
        'c': f(c)})

'b.P=30.97, i.P=30.974, c.P=30.973761998, n.P=30.973762'

#### Ex 3.3

In [4]:
# Define a function to do the calculation so I can redo it
# with different atomic weight sources assigned to s
def ex3_3(s):
    return s.P*4
compare(ex3_3)

In [5]:
def ex3_3b(s):
    return s.H*2 + s.O
compare(ex3_3b)

In [6]:
def ex3_3c(s):
    return s.Ca + (s.N + s.O*3)*2
compare(ex3_3c)

In [7]:
def ex3_3d(s):
    return s.C + s.H*3 + s.C + s.O*2 + s.H
compare(ex3_3d)

In [8]:
def ex3_3e(s):
    return s.C*12 + s.H*22 + s.O*11
compare(ex3_3e)

In [9]:
def ex3_3(s):
    return {
        '3a': s.P*4,
        '3b': s.H*2 + s.O,
        '3c': s.Ca + (s.N + s.O*3)*2,
        '3d': s.C + s.H*3 + s.C + s.O*2 + s.H,
        '3e': s.C*12 + s.H*22 + s.O*11, }
compares(ex3_3)

         b       i          n             c
3a  123.88 123.896 123.895048 123.895047992
3b  18.016  18.015     18.015        18.015
3c   164.1 164.086    164.088       164.086
3d  60.052  60.052     60.052        60.052
3e 342.296 342.297    342.297       342.297

In [11]:
def ex3_5(s):
    return {
        '5a': s.C + s.Cl*2 + s.O,
        '5b': s.C*2 + s.H*2,
        '5c': s.C*2 + s.H*2 + s.Br*2,
        '5d': s.S + s.O*4 + s.H*2 }
compares(ex3_5)

                   b                  i                  n                  c
5a 98.91000000000001              98.91              98.91              98.91
5b            26.036 26.037999999999997 26.037999999999997 26.037999999999997
5c           185.836            185.846 185.83800000000002            185.846
5d 98.07600000000001  98.07200000000002  98.08200000000001  98.07200000000002