# OpenStax Chemistry, 2nd Ed. &ndash; Dean's Errata Submissions

## Chapter 3

### Chapter 3 &ndash; Exercises

**Execute this cell to display chemical formulas.**
It contains a LaTeX require for mhchem, which even applies to later cells.
$$ \require{mhchem} $$

# Execute this cell to access atomic weights
# b.* - OpenStax Chem 2e book Appendix A
# i.* - IUPAC Periodic Table PDF (not their most detailed data)
# c.* - chempy.utils periodic atomic weights
# n.* - NIH PubChem atomic weights from CSV download
from p import *

In [43]:
from IPython.display import display, HTML
sources = (b, i, c, n)
import pandas as pd
# The following prevents rounding to precision setting by saying, just format with str() function.
pd.set_option("display.float_format", str)

In [48]:
# Set up to run problem exercise functions passing different
# atomic weight sources and display answers in table with pandas.
# sources = (b, i, c, n)
def ex_test(s):
    return s.P

def compare(f):
    df = pd.DataFrame({"b": [f(b)], "i": [f(i)], "c": [f(c)], "n": [f(n)]})
    #display(df)
    display(HTML(df.to_html(index = False)))

compare(ex_test)
display(f'{b.P=}, {i.P=}, {c.P=}, {n.P=}')

'b.P=30.97, i.P=30.974, c.P=30.973761998, n.P=30.973762'

#### Ex 3.3

In [50]:
# Define a function to do the calculation so I can redo it
# with different atomic weight sources assigned to s
def ex3_3a(s):
    return s.P*4
compare(ex3_3a)

In [52]:
def ex3_3b(s):
    return s.H*2 + s.O
compare(ex3_3b)

In [53]:
def ex3_3c(s):
    return s.Ca + (s.N + s.O*3)*2
compare(ex3_3c)

In [54]:
def ex3_3d(s):
    return s.C + s.H*3 + s.C + s.O*2 + s.H
compare(ex3_3d)

In [56]:
def ex3_3e(s):
    return s.C*12 + s.H*22 + s.O*11
compare(ex3_3e)