# OpenStax Chemistry, 2nd Ed. &ndash; Dean's Errata Submissions

## Chapter 3

### Chapter 3 &ndash; Exercises

**Execute this cell to display chemical formulas.**
It contains a LaTeX require for mhchem, which even applies to later cells.
$$ \require{mhchem} $$

In [13]:
# Execute this cell to access atomic weights
# Note dp.py is like p.py but using the python Decimal() type to avoid rounding issues.
# b.* - OpenStax Chem 2e book Appendix A
# i.* - IUPAC Periodic Table PDF (not their most detailed data)
# c.* - chempy.utils periodic atomic weights
# n.* - NIH PubChem atomic weights from CSV download
from dp import *
from decimal import *

In [2]:
from IPython.display import display, HTML
sources = (b, i, c, n)
import pandas as pd
# The following prevents rounding to precision setting by saying, just format with str() function.
#pd.set_option("display.float_format", str)

In [3]:
# Set up to run problem exercise functions passing different
# atomic weight sources and display answers in table with pandas.
# sources = (b, i, c, n)

#def ex_test(s):
#    return s.P*4
#
#def compare(f):
#    df = pd.DataFrame({"b": [f(b)], "i": [f(i)], "c": [f(c)], "n": [f(n)]})
#    #display(df)
#    display(HTML(df.to_html(index = False)))
#
#compare(ex_test)
#display(f'{b.P=}, {i.P=}, {c.P=}, {n.P=}')

def compares(f):
    return pd.DataFrame({
        'b': f(b),
        'i': f(i),
        'n': f(n),
        'c': f(c)})

In [4]:
def ex3_3(s):
    return {
        '3a': s.P*4,
        '3b': s.H*2 + s.O,
        '3c': s.Ca + (s.N + s.O*3)*2,
        '3d': s.C + s.H*3 + s.C + s.O*2 + s.H,
        '3e': s.C*12 + s.H*22 + s.O*11, }
compares(ex3_3)

          b         i             n              c
3a   123.88   123.896  123.89504800  123.895047992
3b   18.016   18.0150       18.0150         18.015
3c   164.10   164.086       164.088        164.086
3d   60.052   60.0520       60.0520         60.052
3e  342.296  342.2970      342.2970        342.297

In [6]:
def ex3_4(s):
    return {
        '4a': s.C + s.Cl*2 + s.O,
        '4b': s.C*2 + s.H*2,
        '4c': s.C*2 + s.H*2 + s.Br*2,
        '4d': s.S + s.O*4 + s.H*2 }
compares(ex3_4)

          b         i         n        c
4a    98.91    98.910    98.910   98.910
4b   26.036   26.0380   26.0380   26.038
4c  185.836  185.8460  185.8380  185.846
4d   98.076   98.0720   98.0820   98.072

In [7]:
def ex3_5(s):
    return {
        '5a': s.C*2 + s.H*3 + s.C + s.H*2 + s.C + s.H*3,
        '5b': s.C*4 + s.H*6,
        '5c': s.Si*2 + s.Cl*4 + s.H*2,
        '5d': s.P*1 + s.O*4 + s.H*3 }
compares(ex3_5)

          b         i            n             c
5a   56.104   56.1080      56.1080        56.108
5b   54.088   54.0920      54.0920        54.092
5c  199.996  199.9860     199.9860       199.986
5d   97.994   97.9940  97.99376200  97.993761998

In [8]:
def ex3_13(s):
    return {
        '13a': s.S*8,
        '13b': s.C*5 + s.H*12,
        '13c': s.Sc*2 + (s.S + s.O*4)*3,
        '13d': s.C + s.H*3 + s.C + s.O + s.C + s.H*3,
        '13e': s.C*6 + s.H*12 + s.O*6 }
compares(ex3_13)

           b         i          n           c
13a   256.48    256.48     256.56      256.48
13b   72.146   72.1510    72.1510      72.151
13c   378.10   378.080  378.10982  378.079816
13d   58.078   58.0800    58.0800      58.080
13e  180.156  180.1560   180.1560     180.156

In [9]:
def ex3_15(s):
    return {
        '15a': s.C*2 + s.H + s.Br + s.Cl + s.F*3,
        '15b': s.C*12 + s.H*14 + s.N*2 + s.Cl*2,
        '15c': s.C*8 + s.H*10 + s.N*4 + s.O*2,
        '15d': s.C + s.O + (s.N + s.H*2)*2,
        '15e': s.C*17 + s.H*35 + s.C + s.O*2 + s.Na }
compares(ex3_15)

           b         i             n              c
15a  197.378  197.3780  197.37520948  197.379209489
15b  257.152  257.1580      257.1580        257.158
15c  194.200  194.1940      194.1940        194.194
15d   60.062   60.0560       60.0560         60.056
15e  306.450  306.4660   306.4657693   306.46576928

In [14]:
def ex3_17(s):
    return {
        '17a': Decimal('0.0146') * (s.K + s.O + s.H),
        '17b': Decimal('10.2') * (s.C*2 + s.H*6),
        '17c': Decimal('0.0016') * (s.Na*2 + s.S + s.O*4),
        '17d': Decimal('6854') * (s.C*6 + s.H*12 + s.O*6),
        '17e': Decimal('2.86') * (s.Co + (s.N + s.H*3)*6 + s.Cl*3) }
compares(ex3_17)

               b             i              n               c
17a    0.8191768    0.81913300     0.81913738      0.81913738
17b     306.6936     306.71400      306.71400        306.7140
17c     0.227264     0.2272576  0.22727286176  0.227256861696
17d  1234789.224  1234789.2240   1234789.2240     1234789.224
17e    765.00424    765.132940    764.9618834    764.96189484