# Dean's Jupyter Tips

## Displaying Variables in Markdown or LaTeX

Unfortunately it is not as simple as in R Studio.  An extension that did it, Python Markdown, may not work with Jupyter Lab and the latest versions of Jupyter Notebook?  However, try this.

In [10]:
from IPython.display import Markdown as md
var = 12
display(md(f'My variable `var` is {var}.  Or, at the end of a cell, just...'))
md(f'My variable `var` is {var}.')

My variable `var` is 12.  Or, at the end of a cell, just...

My variable `var` is 12.

LaTeX can be done with the same method.

In [22]:
display(md('My variable $var=' + str(var) + '$' + f' or my variable $var={var}$'))
display(md('But combining f"" string and LaTeX curly braces gets trickier.'))
display(md(rf'$$ \frac{{24}}{{{var}}} = 2$$'))
display(md('Format strings also work, as $var={}$ or $var={v}$'.format(var, v=var)))

My variable $var=12$ or my variable $var=12$

But combining f"" string and LaTeX curly braces gets trickier.

$$ \frac{24}{12} = 2$$

Format strings also work, as $var=12$ or $var=12$

Or LaTeX can be done with `Math` instead of `Markdown`, but I'm not sure what it buys you.

In [36]:
from IPython.display import display, Math
display(Math(rf'var={var} \text{{ or }} \frac{{24}}{{{var}}} = 2'))
display(md('or at the end of a cell, just...'))
Math(rf'var={var}')

or at the end of a cell, just...

In [37]:
display(md('I just realized you can also use the `display()` method alone.'))
display('My var')
display(var)

I just realized you can also use the `display()` method alone.

'My var'

12

In [41]:
print('But at that point why not use print()')
print(12)

But at that point why not use print()
12

## Decimal()
https://docs.python.org/3/library/decimal.html

In [1]:
from decimal import *
Avo = Decimal('6.022') * Decimal('10') ** Decimal('23')
display(Avo)
display(Avo.__repr__())
display(str(Avo))
display(round(Avo))
display(f'{Avo:.3e}')

Decimal('602200000000000000000000.000')

"Decimal('602200000000000000000000.000')"

'602200000000000000000000.000'

602200000000000000000000

'6.022e+23'

## Displaying Chemical Formulae

**Execute this cell to display chemical formulas.**
It contains a LaTeX require for mhchem, which even applies to later cells.
$$ \require{mhchem} $$

Now instead of
$$
2\text{C}_6\text{H}_5\text{CH}_3 + 3\text{O}_2
\rightarrow
2\text{C}_6\text{H}_5\text{CO}_2\text{H} + 2\text{H}_2\text{O}
$$
You can do it more simply with
$$ \ce{2C6H5CH3 + 3O2 -> 2C6H5CO2H + 2H2O} $$

## Pandas Dataframe Manipulation &ndash; Chem Example

In [95]:
from chempy.util import periodic
# print(dir(periodic))
cformat='{:>3} {:6} {:13} {}'
print(cformat.format('N', 'Symbol', 'Name', 'Weight'))
for n in range(18):
    print(cformat.format(n + 1, periodic.symbols[n], periodic.names[n], periodic.relative_atomic_masses[n]))

  N Symbol Name          Weight
  1 H      Hydrogen      1.008
  2 He     Helium        4.002602
  3 Li     Lithium       6.94
  4 Be     Beryllium     9.0121831
  5 B      Boron         10.81
  6 C      Carbon        12.011
  7 N      Nitrogen      14.007
  8 O      Oxygen        15.999
  9 F      Fluorine      18.998403163
 10 Ne     Neon          20.1797
 11 Na     Sodium        22.98976928
 12 Mg     Magnesium     24.305
 13 Al     Aluminium     26.9815384
 14 Si     Silicon       28.085
 15 P      Phosphorus    30.973761998
 16 S      Sulfur        32.06
 17 Cl     Chlorine      35.45
 18 Ar     Argon         39.95

In [1]:
# Execute this cell to access atomic weights
# b.* - OpenStax Chem 2e book Appendix A
# i.* - IUPAC Periodic Table PDF (not their most detailed data)
# c.* - chempy.utils periodic atomic weights
# n.* - NIH PubChem atomic weights from CSV download
from p import *

In [50]:
from IPython.display import display, HTML
sources = (b, i, c, n)
import pandas as pd
# The following prevents rounding to precision setting by saying, just format with str() function.
pd.set_option("display.float_format", str)

In [3]:
# Set up to run problem exercise functions passing different
# atomic weight sources and display answers in table with pandas.
# sources = (b, i, c, n)
def ex_test(s):
    return [s.P]

def compare(f):
    df = pd.DataFrame({"b": [f(b)], "i": [f(i)], "c": [f(c)], "n": [f(n)]})
    #display(df)
    display(HTML(df.to_html(index = False)))

compare(ex_test)
display(f'{b.P=}, {i.P=}, {c.P=}, {n.P=}')

'b.P=30.97, i.P=30.974, c.P=30.973761998, n.P=30.973762'

#### Ex 3.3

In [4]:
# Define a function to do the calculation so I can redo it
# with different atomic weight sources assigned to s
def ex3_3(s):
    return s.P*4
compare(ex3_3)

In [5]:
def ex3_3b(s):
    return s.H*2 + s.O
compare(ex3_3b)

In [53]:
def ex3_3c(s):
    return s.Ca + (s.N + s.O*3)*2
compare(ex3_3c)

In [52]:
def ex_test_indexed(s):
    return {
        '3.33a': s.P*4,
        '3.33b': s.H*2 + s.O
    }
def compares(f):
    return pd.DataFrame({
        'b': f(b),
        'i': f(i),
        'n': f(n),
        'c': f(c)})

compares(ex_test_indexed)

           b       i          n             c
3.33a 123.88 123.896 123.895048 123.895047992
3.33b 18.016  18.015     18.015        18.015